
node_modules/*
bin/*
obj/*
wwwroot/demo_baseq3/textures/*
wwwroot/demo_baseq3/models/*
wwwroot/demo_baseq3/music/*
wwwroot/demo_baseq3/scripts/*
wwwroot/demo_baseq3/maps/*
wwwroot/scripts/*
.vs/quake3ts/v15/sqlite3/storage.ide
.vs/config/applicationhost.config
.vs/quake3ts/v15/.suo
